<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DbConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Workspace\csProjects\BankingSystem\BankingSystem\dataDB.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>